@font-face {
    font-family: 'Namu';
    src: url('../fonts/NAMU-1850.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
}